<div class="form-group col-md-8 col-md-offset-2">
  <Label>Select any User</Label>
  <select class="form-control" id="example select" #selecteduser (change)="changed()" >
    
    <option>select</option>
    <option *ngFor="let user of userarray">
            {{user.name}}
    </option>

  </select>

</div>
<br><br><br><br><br>
<div *ngIf="flag" class="col-md-8 col-md-offset-2">
   <div *ngFor="let user of userarray">
      <div class="card text-center" *ngIf="user.name == seluser">
          <div class="card-header" >
            {{user.name}} 
          </div>
          <div class="card-block">
            <h4 class="card-title">{{user.age}}</h4>
            <p class="card-text">{{user.dob}}</p>
            <a href="#" class="btn btn-primary">{{user.occupation}}</a>
          </div>
          <div class="card-footer">footer</div>
      </div> 
   </div>
</div>